html {
  background-color: #333;
  color: #000;
}
body {
  width: 80%;
  min-width: 920px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
  font-size: 18px;
  margin: 1em auto;
  padding: 0 0.55em;
}
header {
  display: flex;
}
header ul {
  float: right;
}
header span {
  list-style-type: none;
  display: inline;
  padding: 0 0.2rem 0 0.2rem;
  vertical-align: middle;
}
a {
  color: #268bd2;
}
h1 {
  margin: 5px 0;
}
p {
  margin: 15px 0 5px;
}
.archive-link {
  margin-top: 25px;
}
ul {
  margin: 20px 0 5px;
}
.tag,
time.post {
  text-transform: uppercase;
  font-size: 10.5px;
  border: #515151 solid 0.5px;
  border-radius: 2px;
  padding: 4px;
  margin-right: 5px;
}
.tag {
  margin-left: 5px;
}
ul.nav {
  list-style: none;
  padding-left: 0;
}
h1.title {
  // margin-bottom: -10px;
}
pre,
code {
  background-color: #44475a;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  overflow-x: auto;
  width: 90%;
  margin: auto;
}
.inserted-sign {
  background-color: hsl(126, 31%, 39%);
}
.token.prefix.inserted,
.token.prefix.deleted {
  background-color: #15202b;
}
.deleted-sign {
  background-color: hsl(0, 51%, 37%);
}
mark {
  background-color: #f1fa8c;
}
.post-nav-next {
  float: right;
}
blockquote {
  background-color: #44475a;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
}
.tmpl-post, .tmpl-home, .tmpl-post-archive, .tmpl-tagged, .tmpl-search, .tmpl-tagspage, .menu {
  border: 2px solid #AFAFAF;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  background-color: #F9F9F9;
  text-align: left;
  min-width: 920px;
  width: 100%;
}
.menu {
  width: 335px;
  min-width: 0px;
  margin-left: auto;
  margin-right: -45px;
  padding: 10px 0 10px 10px;
}
.tmpl-home .post {
  margin-top: 5px;
}
.tmpl-post .subtitle {
  margin: 5px 0 20px;
}
.tmpl-post h2 {
  margin-top: 20px;
}
.tmpl-post p {
  margin-top: 15px;
}
.tmpl-post ul {
  margin: 10px 0 5px;
}
.tmpl-post-bottom {
  margin-top: 20px;
}
