<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p class="pull-left">
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
        <p class="pull-right">
          Looking for the old blog?  Click <a href="http://old.robertmaxrees.com/">here</a>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="{{ site.baseurl }}public/js/disqus.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}public/js/ga.js"></script>

  </body>
</html>
